<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Trinity - Athleisure Store Bootstrap 4 Template</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicons -->
    <link rel="shortcut icon" href="assets/img/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="assets/img/icon.png">

    <!-- ************************* CSS Files ************************* -->

    <!-- Vendor CSS -->
    <link rel="stylesheet" href="assets/css/vendor.css">

    <!-- style css -->
    <link id="main-style" rel="stylesheet" href="assets/css/main.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
</head>

<body>
<div id="app">
    <!-- Main Wrapper Start -->
    <div class="wrapper">
        <!-- Header Start -->
        <header class="header header-style-2">
            <div class="header__inner fixed-header">
                <div class="header__top bg-color plr--2r5" data-bg-color="#e7f1f3">
                    <div class="column-1">
                        <span class="header__text">Register now and get <strong>65%</strong> off for your first order!</span>
                    </div>
                
                </div>
                <div class="header__bottom plr--2r5 plr-md--0">
                    <div class="column-1 d-none d-lg-block">
                        <nav class="main-navigation">
                            <ul class="mainmenu mainmenu--left">
                                <li class="mainmenu__item menu-item-has-children">
                                    <a href="index.html" class="mainmenu__link">HOME</a>
                                    
                                </li>
                                <li class="mainmenu__item menu-item-has-children">
                                    <a href="shop.html" class="mainmenu__link">SHOP</a>
                                    
                                </li>
                        
                                <li class="mainmenu__item menu-item-has-children">
                                    <a href="#" class="mainmenu__link">PAGES</a>
                                    <ul class="sub-menu">
                                        <li>
                                            <a href="my-account.html">My Account</a>
                                        </li>
                                        <li>
                                            <a href="cart.html">Shopping Cart</a>
                                        </li>
                                        <li>
                                            <a href="checkout.html">Check Out</a>
                                        </li>
                                        <li>
                                            <a href="wishlist.html">Wishlist</a>
                                        </li>
                                        <li>
                                            <a href="order-tracking.html">Order tracking</a>
                                        </li>
                                        <li>
                                            <a href="compare.html">compare</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="mainmenu__item">
                                    <a href="contact-us.html" class="mainmenu__link">CONTACT</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <div class="column-2">
                        <a href="index.html" class="logo">
                            <img src="assets/img/logo/logo.png" alt="Logo">
                        </a>
                    </div>
                    <div class="column-3">
                        <div class="header__components d-flex align-items-center justify-content-end">
                            <div class="header__search-form" id="searchFormWrap">
                                <form class="search-form" action="#">
                                    <input type="text" name="search_input" id="search_input" class="search-form__input">
                                    <button type="submit" class="search-form__submit">
                                        <img src="assets/img/icons/icon-search.png" alt="Search Button">
                                    </button>
                                </form>
                            </div>
                            <a href="#searchFormWrap" class="toolbar-btn search-btn">
                                <img src="assets/img/icons/icon-search.png" alt="Search Button">
                            </a>
                            <div class="mini-cart-wrap ml--4r5 ml-xl--3r5 ml-lg--3r">
                                <a href="#miniCart" class="mini-cart__btn toolbar-btn">
                                    <img src="assets/img/icons/icon-cart.png" alt="Cart Button">
                                    <span class="mini-cart__text">02 Cart <br> $250</span>
                                </a>
                            </div>
                            <div class="user-info d-none d-lg-block ml--4r5 ml-xl--3r5 ml-lg--3r">
                                <a href="my-account.html" class="user-info__btn">
                                    <img src="assets/img/icons/icon-user.png" alt="My Account">
                                    <span class="user-info__text">My Account</span>
                                </a>
                                <ul class="user-info-menu">
                                    <li>
                                        <a href="my-account.html">My Account</a>
                                    </li>
                                    <li>
                                        <a href="cart.html">Shopping Cart</a>
                                    </li>
                                    <li>
                                        <a href="checkout.html">Check Out</a>
                                    </li>
                                    <li>
                                        <a href="wishlist.html">Wishlist</a>
                                    </li>
                                    <li>
                                        <a href="order-tracking.html">Order tracking</a>
                                    </li>
                                    <li>
                                        <a href="compare.html">compare</a>
                                    </li>
                                </ul>
                            </div>
                            <a href="#offcanvasMenu" class="toolbar-btn menu-btn d-block d-lg-none ml--4r5">
                                <div class="hamburger-icon">
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="offcanvas-menu-wrapper" id="offcanvasMenu">
                <div class="offcanvas-menu-inner">
                    <a href="" class="btn-close">
                        <i class="pe-7s-close"></i>
                    </a>
                    <form class="search-form mb--30" action="#">
                        <input type="text" name="search_input-2" id="search_input-2" class="search-form__input">
                        <button type="submit" class="search-form__submit">
                            <img src="assets/img/icons/icon-search.png" alt="Search Button">
                        </button>
                    </form>
                    <nav class="offcanvas-navigation mb--50">
                        <ul class="offcanvas-menu">
                            
                            <li class="menu-item-has-children">
                                <a href="#">SHOP</a>
                            </li>
                                                        <li class="menu-item-has-children">
                                <a href="#">PAGES</a>
                                <ul class="sub-menu">
                                    <li>
                                        <a href="my-account.html">My Account</a>
                                    </li>
                                    <li>
                                        <a href="cart.html">Shopping Cart</a>
                                    </li>
                                    <li>
                                        <a href="checkout.html">Check Out</a>
                                    </li>
                                    <li>
                                        <a href="wishlist.html">Wishlist</a>
                                    </li>
                                    <li>
                                        <a href="order-tracking.html">Order tracking</a>
                                    </li>
                                    <li>
                                        <a href="compare.html">compare</a>
                                    </li>
                                </ul>
                            </li>
                            <li><a href="contact-us.html">CONTACT</a></li>
                        </ul>
                    </nav>
                    <div class="header__components">
                        <div class="user-info">
                            <a href="my-account.html" class="user-info__btn">
                                <img src="assets/img/icons/icon-user.png" alt="My Account">
                                <span class="user-info__text">My Account</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Header End -->
         
        <!-- Breadcrumb Area Start-->
        <section class="breadcrumb-area bg-image bg-100" data-bg-image="assets/img/bg/breadcrumb-bg.png">
            <h1 class="page__title">Shop Grid</h1>
            <p class="page__desc">Yoga and Gym wear up to <strong>39%</strong> off</p>
            <img src="assets/img/bg/breadcrumb-2.png" alt="Breadcrumb image" class="breadcrumb-img-2">
        </section>
        <!-- Breadcrumb Area Start-->

        <!-- Main Content Wrapper Start -->
        <div  class="main-content-wrapper">
            <div class="shop-page-wrapper ptb--8r">
                <div class="row">
                    <div class="col-12">
                        <div class="shop-toolbar mb--5r">
                            <div class="row align-items-center">
                                <div class="col-lg-6 mb-md--15">
                                    <div class="shop-toolbar__left d-flex align-items-center align-items-lg-start flex-lg-row flex-column">
                                        <div class="product-view-mode mb-md--10">
                                            <a href="#" data-target="grid">
                                                <img src="assets/img/icons/grid.png" alt="Grid">
                                            </a>
                                            <a class="active" href="#" data-target="list">
                                                <img src="assets/img/icons/list.png" alt="Grid">
                                            </a>
                                        </div>
                                        <p class="product-pages ml--4r ml-sm--0">Showing 1–20 of 42 results</p>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="shop-toolbar__right d-flex justify-content-lg-end justify-content-center align-items-center flex-sm-row flex-column">
                                        <div class="product-categories mb-xs--20 mr--5r mr-xs--0">
                                            <select class="product-categories__select nice-select">
                                                <option value="nav-all">All</option>
                                                <option value="nav-men">Men</option>
                                                <option value="nav-women">Women</option>
                                                <option value="nav-kidz">Kidz</option>
                                                <option value="nav-accessories">Accessories</option>
                                            </select>
                                        </div>
                                        <div class="product-ordering">
                                            <select class="product-ordering__select nice-select">
                                                <option value="0">Default Sorting</option>
                                                <option value="1">Relevance</option>
                                                <option value="2">Name, A to Z</option>
                                                <option value="3">Name, Z to A</option>
                                                <option value="4">Price, low to high</option>
                                                <option value="5">Price, high to low</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="shop-products">
                            <div class="row">
                                <div class="col-xxl-3 col-xl-4 col-sm-6 mb--5r" v-for="value in productList.sanpham">
                                    <div class="trinity-product">
                                        <div class="product-inner">
                                            <figure class="product-image">
                                                <div class="product-image-holder">
                                                    <a href="product-details.html">
                                                        <img :src="value.hinhanh" alt="Products">
                                                    </a>
                                                </div>
                                                <div class="trinity-product-action">
                                                    <div class="product-action">
                                                        <a href="cart.html" class="btn add_to_cart_btn">Add To Cart</a>
                                                        <div class="action-btn-group">
                                                            <a href="wishlist.html">
                                                                <i class="fa fa-heart-o"></i>
                                                            </a>
                                                            <a data-toggle="modal" data-target="#productModal">
                                                                <i class="fa fa-eye"></i>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="product-badge-group">
                                                    <span class="product-badge discount">-29%</span>
                                                </div>
                                            </figure>
                                            <div class="product-info text-center">
                                                <h3 class="product-title">
                                                    <a href="product-details.html">{{ value.tensanpham }}</a>
                                                </h3>
                                                <div class="product-info-bottom d-flex justify-content-between align-items-center flex-md-row flex-column">
                                                    <div class="product-price-wrapper mb-sm--10">
                                                        <span class="price-text">{{ value.gia }}
                                                        
                                                    </div>
                                                    <div class="product-rating">
                                                        <div class="star-rating star-five">
                                                            <span>Rated <strong class="rating">5.00</strong> out of 5</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="trinity-product-list">
                                        <div class="product-inner">
                                            <figure class="product-image">
                                                <div class="product-image-holder">
                                                    <a href="product-details.html">
                                                        <img src="assets/img/products/prod-01.jpg" alt="Products">
                                                    </a>
                                                </div>
                                                <div class="action-btn-group">
                                                    <a href="wishlist.html">
                                                        <i class="fa fa-heart-o"></i>
                                                    </a>
                                                    <a data-toggle="modal" data-target="#productModal">
                                                        <i class="fa fa-eye"></i>
                                                    </a>
                                                </div>
                                                <div class="product-badge-group">
                                                    <span class="product-badge discount">-29%</span>
                                                </div>
                                            </figure>
                                            <div class="product-info">
                                                <h3 class="product-title">
                                                    <a href="product-details.html">Long Trousers</a>
                                                </h3>
                                                <div class="product-price-wrapper">
                                                    <span class="price-text">Price: </span>
                                                    <span class="new-price">$98</span>
                                                    <span class="old-price">$120</span>
                                                </div>
                                                <div class="product-rating">
                                                    <div class="star-rating star-five">
                                                        <span>Rated <strong class="rating">5.00</strong> out of 5</span>
                                                    </div>
                                                </div>
                                                <div class="product-short-desc">
                                                    <p>Donec accumsan auctor iaculis. Sed suscipit arcu ligula, at egestas magna molestie a. Proin ac ex maximus, ultrices justo eget, sodales orci. Aliquam egestas libero ac turpis pharetra</p>
                                                </div>
                                                <div class="trinity-product-action">
                                                    <div class="product-action">
                                                        <a href="cart.html" class="btn add_to_cart_btn">Add To Cart</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
               
                                
                            </div>
                        </div>
                        <nav class="pagination-wrap">
                            <ul class="pagination">
                                <li><span class="page-number current">1</span></li>
                                <li><a href="#" class="page-number">2</a></li>
                                <li><a href="#" class="page-number">3</a></li>
                                <li><span class="dot"></span></li>
                                <li><span class="dot"></span></li>
                                <li><span class="dot"></span></li>
                                <li><a href="#" class="page-number">15</a></li>
                                <li><a href="#" class="page-number">16</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        <!-- Main Content Wrapper Start -->

        <!-- Footer Start-->
        <footer class="footer">
            <div class="footer-top bg-color" data-bg-color="#e4ecdf">
                <div class="row w-100">
                    <div class="col-xl-3 col-md-6 order-first mb-lg--3r5">
                        <div class="footer-widget">
                            <div class="textwidget">
                                <figure class="footer-logo">
                                    <a href="index.html">
                                        <img src="assets/img/logo/logo.png" alt="Logo">
                                    </a>
                                </figure>
                                <p>
                                    pleasure rationally encounter consequencs that are extremely painful. Nor again is there anyone who loves or pursues or desires
                                </p>
                                <p>Trinity rationally encounter consequencs that are extremely painful</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-2 col-md-4 order-xl-2 order-md-3 tty-offset-xl-1 mb-sm--3r">
                        <div class="footer-widget">
                            <h3 class="widget-title">QUICK LINK</h3>
                            <ul class="widget-menu">
                                <li><a href="#">About Us</a></li>
                                <li><a href="#">Services</a></li>
                                <li><a href="blog.html">Blog</a></li>
                                <li><a href="contact-us.html">Contact</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-2 col-md-4 order-xl-3 order-md-4 mb-sm--3r">
                        <div class="footer-widget">
                            <h3 class="widget-title">Information</h3>
                            <ul class="widget-menu">
                                <li><a href="#">Promotions</a></li>
                                <li><a href="#">Return Policy</a></li>
                                <li><a href="#">Terms &amp; Conditions</a></li>
                                <li><a href="#">Terms</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-2 col-md-4 order-xl-4 order-md-5 mb-sm--3r">
                        <div class="footer-widget">
                            <h3 class="widget-title">Follow Us</h3>
                            <ul class="widget-menu">
                                <li><a href="#">Facebook</a></li>
                                <li><a href="#">Twitter</a></li>
                                <li><a href="#">Youtube</a></li>
                                <li><a href="#">Linkedin</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-2 col-md-5 offset-md-1 offset-xl-0 order-xl-last order-md-2 tty-col-xl-2 mb-lg--3r5">
                        <div class="footer-widget">
                            <h3 class="widget-title">Contact Us</h3>
                            <div class="contact-info-widget">
                                <p><strong>Address:</strong> 256 Under Street <br> South City, New Yourk</p>
                                <p><strong>Phone:</strong> 01254 365 987 <br>02158 789 654</p>
                                <p><strong>Web:</strong> info@example.com <br> www.example.com</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-bottom bg-color ptb--20" data-bg-color="#e7f1f3">
                <p class="copyright-text text-center">Copyright &copy;<strong>Trinity</strong>, All rights reserved</p>
            </div>
        </footer>
    </div>
        <script>
          var  app = new Vue({
              el: '#app',
              data: {
                  productList: Object
              },
              methods: {
                  mydetails : function() {
                      return "I am "+this.firstname +" "+ this.lastname + " studying " + this.subject;
                  }
              },
              mounted: async function() {
                  const response =  await fetch("http://localhost:3000/api/v1/sanpham");
                  var jsonResponse = await response.json();
                  this.productList  = jsonResponse;
                
                  console.log(this.productList);
              }
          })
      </script>  
<!-- Footer end-->
    <script src="assets/js/vendor.js"></script>

    <!-- Main JS -->
    <script src="assets/js/main.js"></script>
</body>

</html>